# Carga de librerías

In [1]:
from datetime import datetime
import pandas as pd
import gc

In [2]:
from wfm.google_service.client import GoogleClient
from wfm.utils.drive_structure import main as drive_structure
from wfm.modelling.dataset import WFMDataset
import wfm.modelling.outlier_detection as OutlierDetection

# Creación estructura drive

drive_structure()

# Leer base de datos

In [ ]:
df = pd.read_excel(
    io='/Users/MI31539/Documents/wfm/Data - Data Olympics.xlsx',
    sheet_name='DATOS'
)

In [4]:
df.head()

,fecha,cetes_12m,cetes_1m,cetes_3m,cetes_6m,exchange_rate_usd,exportaciones_no_petroleras,imss,inpc,official_interest_rate_usa,...,tasa_fondeo_1d,treasury_10y,treasury_1m,treasury_1y,treasury_3m,treasury_3y,treasury_5y,treasury_6m,vix,vix_bmv
0,2007-01-01,5.998714,5.270554,7.619891,9.538785,16.626715,65523.200303,1.492044e+07,57.490374,1.385472,...,9.112490,4.601301,4.511093,1.371252,3.797369,1.081369,6.241602,1.704889,7.659628,21.931550
1,2007-02-01,5.998714,5.270554,7.619891,9.538785,16.626715,65523.200303,1.492044e+07,57.490374,1.385472,...,9.820666,4.601301,4.622545,1.371252,3.797369,1.081369,6.241602,1.704889,7.659628,20.456388
2,2007-03-01,7.483663,5.270554,7.619891,9.538785,16.626715,65523.200303,1.492044e+07,57.490374,1.385472,...,8.722971,4.601301,4.694684,1.371252,4.805535,1.081369,6.241602,1.704889,12.211318,22.318382
3,2007-04-01,8.106428,5.270554,7.619891,9.538785,16.626715,65523.200303,1.492044e+07,57.490374,1.385472,...,7.762946,4.601301,5.155397,1.371252,4.917340,1.081369,6.241602,1.704889,14.623812,22.722563
4,2007-05-01,8.232189,5.270554,7.619891,9.538785,16.626715,65523.200303,1.492044e+07,57.490374,1.385472,...,8.048050,4.601301,5.076232,1.371252,4.885224,1.081369,6.241602,1.704889,14.856131,22.418558

In [5]:
df.columns

Index(['fecha', 'cetes_12m', 'cetes_1m', 'cetes_3m', 'cetes_6m',
       'exchange_rate_usd', 'exportaciones_no_petroleras', 'imss', 'inpc',
       'official_interest_rate_usa', 'pib', 's&p500', 'sovereign_10y',
       'sovereign_3y', 'sovereign_5y', 'stock_market', 'tasa_desempleo',
       'tasa_fondeo_1d', 'treasury_10y', 'treasury_1m', 'treasury_1y',
       'treasury_3m', 'treasury_3y', 'treasury_5y', 'treasury_6m', 'vix',
       'vix_bmv'],
      dtype='object')

In [6]:
df.shape

(184, 27)

# Outliers

In [7]:
detection_factories = {
    col: OutlierDetection.MADFactory()
    for col in df.columns[1:]
}
detection_client = OutlierDetection.OutlierDetectionClient(column_factory_map=detection_factories, remainder='passthrough')
detection_client.fit(df)

In [8]:
train_outliers = detection_client.detect(df)
train_outliers.sum()

cetes_12m                       0
cetes_1m                        0
cetes_3m                        0
cetes_6m                        0
exchange_rate_usd               0
exportaciones_no_petroleras     0
imss                            0
inpc                            0
official_interest_rate_usa      0
pib                             0
s&p500                          0
sovereign_10y                   0
sovereign_3y                    0
sovereign_5y                    0
stock_market                    0
tasa_desempleo                  0
tasa_fondeo_1d                  0
treasury_10y                    0
treasury_1m                     0
treasury_1y                     0
treasury_3m                     5
treasury_3y                     5
treasury_5y                    15
treasury_6m                     0
vix                             0
vix_bmv                         0
dtype: int64